
main {
    z-index: auto;
}

.presentation {
    font-size: 1.5em;
    width: 80%;
    margin: auto;
    padding-bottom: 120px;
}

.blockPage {
    width: 100%;
    height: 350px;
    background-color: #fff;
    border-top-right-radius: 25px ;
    border-top-left-radius: 25px ;
}